#user_popover .usercontent figure,
#main-menu-right .message-list-wrapper .message-list-wrapper-inner .message-list .message-item .image-container,
#followersEl .followingContainer .avatarList,
#profileMainSection .profileWrapper .profileView .header,
#chat .chat-container .chat-messages .chat-main li .stream-item-content .image_row,
#header-global .header-right-navigation .user-info .user-image,
#player-controller .left ul li.imgEl {
    display: none !important;
}
#chat .chat-container .chat-messages .chat-main li .activity-row,
#player-controller .left ul li.infoContainer {
    padding-left: 0px !important;
}
#header-global .header-right-navigation {
    padding-top: 5px !important;
}
#profileMainSection .profileWrapper {
	margin-top: 300px;
}
