html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
    display: none;
}
a {
    color: #a3bc7f;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
a:hover {
    color: #c2d9a0;
}
#icon-content {
    position: relative;
    width: 100%;
    padding: 40px 0px;
}
header {
    text-align: center;
}
#logo {
    font-size: 40px;
}
#info-page {
    width: 100%;
    background-color: #333;
    color: #d8d8d8;
}
#info-content {
    position: relative;
    width: 600px;
    margin: auto;
    font-size: 17px;
}
#info-content h2 {
    font-size: 25px;
    color: #fff;
}
#project {
    padding-bottom: 40px;
}
.info-section {
    padding-top: 30px;
}
.btn {
    background-color: #bbb;
    width: auto;
    height: 50px;
    margin-top: 100px;
    margin-left: 50px;
}
.btn:hover {
    background-color: #aaa;
}
